{% for interface_name, interface in interfaces.items() %}
interface {{ interface_name }}
 description {{ interface.description }}
{% if interface.ipv4 is defined %}
 ip address {{ interface.ipv4.address }} {{ interface.ipv4.netmask }}
{% endif %}
{% if interface.mode is defined and interface.mode == "access" %}
 switchport mode access
 switchport access vlan {{ interface.vlan }}
{% endif %}
{% if interface.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
!
{% endfor %}